<app-layout-header></app-layout-header>
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>
<div class="main-content">
  <!-- <app-layout-topmenu></app-layout-topmenu> -->
  <h1 class="head">COMPANY</h1><hr>
  <div class="card txt">
      <div class="card-body">
            <button class="btn" data-toggle="modal" data-target="#myModal">Add New Company</button>
            <h3 style="text-align: center;">List of Companies</h3>
            <div class="row">
                <div class="col-6">
                    <h4>Show 
                        <div class="dropdown">
                          <select class="form-control">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                          </select>
                        </div>
                        entries</h4>
                </div>
                <div class="col-6">
                    <h4 style="float: right;">Search:
                        <div class="search-container">
                            <form action="/action_page.php">
                              <input type="text" placeholder=" " name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                          </div>
                    </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                          <tr>
                            <th scope="col"><b style="font-size: 12px;color: black;">Name/Number</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Company-type</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Address</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Details</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              mArt<br>01732089676
                            </th>
                            <td>
                              Casual
                            </td>
                            <td>
                              Mymensingh
                            </td>
                            <td>
                              3rd Party
                            </td>
                            <td>
                                <button class="btn btn-sm" style="background-color: rgb(72, 72, 219); color: white;border-radius: 5PX;font-size: 20PX;"><i class="fa fa-list" aria-hidden="true"></i></button>
                                <button class="btn btn-sm" style="background-color: rgb(211, 29, 29); color: white;border-radius: 5PX;font-size: 20PX;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                          </tr>
                        </tbody>
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                            <tr>
                              <th scope="col"><b style="font-size: 12px;color: black;">Name/Number</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Company-type</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Address</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Details</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                            </tr>
                          </thead>

                      </table>
                    </div>
                  </div>
                </div>
              </div>

      </div>

  </div>
  <div class="container-fluid mt--7">
    <!-- <app-layout-footer></app-layout-footer> -->
  </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-weight: bold;font-size: 30px;padding-left: 90px;">Add Company</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Company Name:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Company name" name="name">
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Company Type:</label>
            <div class="col-sm-14">
                <select class="form-control" placeholder="Company type">
                  <option>Company type</option>
                  <option>Regular</option>
                  <option>Casual</option>
                </select>
            </div>
            <!-- <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Company type" name="name"> -->
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Address:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Address" name="name">
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Mobile:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Enter Mobile No" name="name">
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Details:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Company Details" name="name"><br>
          
            <input type="submit" value="Submit" class="btn btn-success" style="margin-left: 30%;">
            <input type="reset" class="btn" style="background-color: rgb(207, 68, 68); margin-left: 10px;">
          </form>
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-success">Submit</button>
          <button>Clear Fields</button>
        </div>
         -->
      </div>
    </div>
  </div>