<app-layout-header></app-layout-header>
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>
<div class="main-content">
  <!-- <app-layout-topmenu></app-layout-topmenu> -->
  <h1 class="head">EMPLOYEE</h1><hr>
  <div class="card txt">
      <div class="card-body">
            <button class="btn" data-toggle="modal" data-target="#myModal">Add New Employee</button>
            <div class="row">
                <div class="col-6">
                    <h4>Show 
                        <div class="dropdown">
                          <select class="form-control">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                          </select>
                        </div>
                        entries</h4>
                </div>
                <div class="col-6">
                    <h4 style="float: right;">Search:
                        <div class="search-container">
                            <form action="/action_page.php">
                              <input type="text" placeholder=" " name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                          </div>
                    </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                          <tr>
                            <th scope="col"><b style="font-size: 12px;color: black;">ID</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Name/Number</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Gender</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Employee Type</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Department</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Salary Rate</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              1
                            </th>
                            <td>
                                Naman Chaudhari<br>01727585433
                            </td>
                            <td>
                              Male
                            </td>
                            <td>
                              Regular
                            </td>
                            <td>
                              Control
                            </td>
                            <td>
                                25000
                            </td>
                            <td>
                                <button class="btn btn-sm" style="background-color: rgb(211, 29, 29); color: white;border-radius: 5PX;font-size: 20PX;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                          </tr>
                        </tbody>
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                            <tr>
                              <th scope="col"><b style="font-size: 12px;color: black;">ID</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Name/Number</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Gender</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Employee Type</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Department</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Salary Rate</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                            </tr>
                          </thead>

                      </table>
                    </div>
                  </div>
                </div>
              </div>

      </div>

  </div>
  <div class="container-fluid mt--7">
    <!-- <app-layout-footer></app-layout-footer> -->
  </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"style="padding-left: 50px;padding-bottom: 40px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-weight: bold;font-size: 30px;text-align: center;">Add Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div><br>
        
        <!-- Modal body -->
        <form action="/action_page.php">
            <label for="fname" style="font-weight: bold;">First name: </label>
            <input type="text"  id="fname" name="fname" placeholder="firstname" class="first"><br>
            <label for="lname" style="font-weight: bold;">Last name: </label>
            <input type="text" id="lname" name="lname" placeholder="lastname" class="last"><br>
            <label for="lname" style="font-weight: bold;">Mobile No: </label>
            <input type="text" id="lname" name="lname" placeholder="mobileNo" class="mobile"><br>

            <label for="lname" style="font-weight: bold;">Gender: </label>
            <input type="radio" id="male" name="gender" value="male" style="margin-left: 22%;margin-bottom: 30px;">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female" style="margin-left: 10%;">
            <label for="female">Female</label><br>

            <label for="lname" style="font-weight: bold;">Employee Type: </label>
                <select  placeholder="Employee Type" class="emp">
                  <option>Employee Type</option>
                  <option>Job Order</option>
                  <option>Regular</option>
                  <option>Casual</option>
                </select><br>
            <label for="lname" style="font-weight: bold;">Division: </label>
                <select  placeholder="Employee Type" class="div">
                    <option>Division</option>
                    <option>Admin</option>
                    <option>Human Resource</option>
                    <option>Accounting</option>
                    <option>Engineering</option>
                    <option>MIS</option>
                    <option>Supply</option>
                    <option>Maintenance</option>
                    <option>Control</option>
                    <option>Artist</option>
                    <option>Painters</option>
                    <option>Sign Bord</option>
                    <option>Others</option>
                </select><br>
            <label for="lname" style="font-weight: bold;">Salary Rate: </label>
            <input type="text" id="lname" name="lname" placeholder="Enter salary rate" class="sal">
            <br><br>
            <input type="submit" value="Submit" class="btn btn-success" style="margin-left: 25%;">
            <input type="reset" class="btn" style="background-color: rgb(207, 68, 68);margin-left: 5%;">
        </form>
        
      </div>
    </div>
  </div>