.head{
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
    padding-top: 15px;
}
.txt{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightgray;
}
.btn{
    background-color: rgb(49, 209, 49);
    color: white;
}
.first{
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.last{
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.mobile{
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.emp{
    margin-left: 38px;
    margin-bottom: 30px;
    border-radius: 6px;   
}
.div{
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 6px;      
}
.sal{
    margin-left: 65px;
    margin-bottom: 30px;
    border-radius: 6px;   
}