<app-layout-header></app-layout-header>
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>
<div class="main-content">
  <!-- <app-layout-topmenu></app-layout-topmenu> -->
  <h1 class="head">REGULAR EMPLOYEE SALARY</h1><hr>
  <div class="card txt">
      <div class="card-body">
            <button class="btn" data-toggle="modal" data-target="#myModal">Set Bonus</button>
            <div class="row">
                <div class="col-6">
                    <h4>Show 
                        <div class="dropdown">
                          <select class="form-control">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                          </select>
                        </div>
                        entries</h4>
                </div>
                <div class="col-6">
                    <h4 style="float: right;">Search:
                        <div class="search-container">
                            <form action="/action_page.php">
                              <input type="text" placeholder=" " name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                          </div>
                    </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                          <tr>
                            <th scope="col"><b style="font-size: 12px;color: black;">ID</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Name</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Salary</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Deduction</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Due</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Advance</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Bonus</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">NetPay</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              1
                            </th>
                            <td>
                                Naman Chaudhari
                            </td>
                            <td>
                              24000
                            </td>
                            <td>
                              0.00
                            </td>
                            <td>
                              36000
                            </td>
                            <td>
                                0.00
                            </td>
                            <td>
                                12000.00
                            </td>
                            <td>
                                72000.00
                            </td>
                            <td>
                                <button class="btn btn-sm" style="background-color: rgb(233, 149, 54); color: white;border-radius: 5PX;font-size: 20PX;">Payment</button>
                            </td>
                          </tr>
                        </tbody>
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                            <tr>
                              <th scope="col"><b style="font-size: 12px;color: black;">ID</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Name</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Salary</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Deduction</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Due</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Advance</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Bonus</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">NetPay</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                            </tr>
                          </thead>

                      </table>
                    </div>
                  </div>
                </div>
              </div>

      </div>

  </div>
  <div class="container-fluid mt--7">
    <!-- <app-layout-footer></app-layout-footer> -->
  </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"style="padding-left: 50px;padding-bottom: 40px;">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-weight: bold;font-size: 25px;">Add Bonus for and Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div><br>
        
        <!-- Modal body -->
        <form action="/action_page.php">
            <label for="lname" style="font-weight: bold;">Employee: </label>
                <select  placeholder="...select..." class="emp">
                    <option>...select...</option>
                  <option>Naman Chaudhari</option>
                </select><br>
            <label for="fname" style="font-weight: bold;">Bonus: </label>
            <input type="text"  id="fname" name="bonus" placeholder="Enter bonus Amount" class="amu">
        </form>
        
      </div>
    </div>
  </div>