<app-layout-header></app-layout-header>
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>
<div class="main-content">
  <app-layout-topmenu></app-layout-topmenu>
  <!-- Header -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body" style="height: 50px;">
        <!-- Card stats -->
        <h3 class="h3 text-white mb-0">Transaction Reports</h3><hr>
        <div class="row">

          <div class="card" style="width: 100%; padding-bottom: 50px; padding-left: 10px;padding-right: 10px; margin-bottom: 25px;border: 1px solid #e6e7ea;">
            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item active" aria-current="page">Cash Transaction Report:</li>
              </ol>
            </nav> -->
            <span class="h2 font-weight-bold mb-0" style="padding-top: 10px;padding-bottom: 10px;">Cash Transaction Report:</span>

            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Cash</h5>
                        <span class="h2 font-weight-bold mb-0">786,863 tk.</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 7.84%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Cost</h5>
                        <span class="h2 font-weight-bold mb-0">502,874</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 7.84%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Salary Paid</h5>
                        <span class="h2 font-weight-bold mb-0">4300+3713</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 7.84%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Balance</h5>
                        <span class="h2 font-weight-bold mb-0">283,989</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 7.84%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card" style="width: 100%; padding-bottom: 50px; padding-left: 10px;padding-right: 10px; margin-bottom: 25px;border: 1px solid #e6e7ea;">
            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-2">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item active" aria-current="page">Bkash Transaction Report:</li>
              </ol>
            </nav> -->
            <span class="h2 font-weight-bold mb-0" style="padding-top: 10px;padding-bottom: 10px;">Bkash Transaction Report:</span>



          <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Cash</h5>
                        <span class="h2 font-weight-bold mb-0">235,000 tk.</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 2.42%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Cost</h5>
                        <span class="h2 font-weight-bold mb-0">927,460 tk.</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 2.42%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Salary Paid</h5>
                        <span class="h2 font-weight-bold mb-0">5700+4932</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 2.42%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Balance</h5>
                        <span class="h2 font-weight-bold mb-0">-692,460 tk.</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                          <i class="ni ni-money-coins"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 2.42%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="width: 100%;">
            <div class="col-xl-4 col-md-6" style="margin-bottom: 35px;">
              <div class="card card-stats" style="width: auto;height: auto;">
                <!-- Card body -->
                <div class="card-body" style="background-color: rgb(235, 12, 186);border-radius: 5px;">
                  <div class="row" >
                    <div class="col" style="text-align: center;" [routerLink]="['/employee']">
                      <i class="fas fa-users" style="color: white; font-size: 70px;"></i>
                      <h5 class="h3 text-white mb-0"><b>Employee</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats" style="width: auto;height: auto;">
                <!-- Card body -->
                <div class="card-body" style="background-color: rgb(107, 170, 24);border-radius: 5px;">
                  <div class="row" >
                    <div class="col" style="text-align: center;">
                      <i class="fas fa-rupee-sign" style="color: white; font-size: 70px;"></i>
                      <h5 class="h3 text-white mb-0"><b>Payment</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats" style="width: auto;height: auto;">
                <!-- Card body -->
                <div class="card-body" style="background-color: rgb(226, 66, 17);border-radius: 5px;">
                  <div class="row" >
                    <div class="col" style="text-align: center;">
                      <i class="fas fa-money-bill-alt" style="color: white; font-size: 70px;"></i>
                      <h5 class="h3 text-white mb-0"><b>Salary</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats" style="width: auto;height: auto;">
                <!-- Card body -->
                <div class="card-body" style="background-color: rgb(224, 152, 17);border-radius: 5px;">
                  <div class="row" >
                    <div class="col" style="text-align: center;" [routerLink]="['/companybill']">
                      <i class="fas fa-file-invoice" style="color: white; font-size: 70px;"></i>
                      <h5 class="h3 text-white mb-0"><b>Bill</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats" style="width: auto;height: auto;">
                <!-- Card body -->
                <div class="card-body" style="background-color: rgb(94, 39, 223);border-radius: 5px;">
                  <div class="row" >
                    <div class="col" style="text-align: center;">
                      <i class="fas fa-store" style="color: white; font-size: 70px;"></i>
                      <h5 class="h3 text-white mb-0"><b>Store</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h4 style="padding-top: 50px;padding-bottom: 20px;"><b>Yearly Other Report..</b></h4>

        </div>
        <div class="row">
        <div class="card" style="height: 150px;width: 250px;margin-bottom: 25px; border: 1px solid #e6e7ea;">
          <span class="h2 font-weight-bold mb-0" style="padding-top: 10px;padding-bottom: 15px;padding-left: 8px;">Total Salary Paid</span>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
              <!-- Card body -->
                <div class="card-body" style="background-color: #172b4d !important;border-radius: 5px;width: 200px;margin-left: 25px;">
                  <div class="row">
                    <div class="col">
                      <h5 class="h3 text-white mb-0" style="text-align: center;">96450 TK PAID</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        </div>
        <div class="card" style="height: 150px;width: 250px;margin-left: 30px; border: 1px solid #e6e7ea;">
          <span class="h2 font-weight-bold mb-0" style="padding-top: 10px;padding-bottom: 15px;padding-left: 8px;">Total Received Bill</span>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
              <!-- Card body -->
                <div class="card-body" style="background-color: #172b4d !important;border-radius: 5px;width: 200px;margin-left: 25px;">
                  <div class="row">
                    <div class="col">
                      <h5 class="h3 text-white mb-0"style="text-align: center;">0 TK RECEIVED</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        </div>
        <div class="card" style="height: 150px;width: 250px;margin-left: 30px; border: 1px solid #e6e7ea;">
          <span class="h2 font-weight-bold mb-0" style="padding-top: 10px;padding-bottom: 15px;padding-left: 8px;">Total Income</span>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
              <!-- Card body -->
                <div class="card-body" style="background-color: #172b4d !important;border-radius: 5px;width: 200px;margin-left: 25px;">
                  <div class="row">
                    <div class="col">
                      <h5 class="h3 text-white mb-0"style="text-align: center;">-10000 TK</h5>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- <app-layout-footer></app-layout-footer> -->
  </div>
</div>
