.head{
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
    padding-top: 15px;
}
.txt{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightgray;
}
.btn{
    background-color: rgb(49, 209, 49);
    color: white;
}