<app-layout-header></app-layout-header>
<style>
  @media (min-width: 768px) {
    .main-content {
      margin-left: 250px;
    }
  }
</style>
<div class="main-content">
  <!-- <app-layout-topmenu></app-layout-topmenu> -->
  <h1 class="head">COMPANY BILL</h1><hr>
  <div class="card txt">
      <div class="card-body">
            <button class="btn" data-toggle="modal" data-target="#myModal">Add New Company</button>
            <h3 style="text-align: center;">Payment</h3>
            <div class="row">
                <div class="col-6">
                    <h4>Show 
                      <div class="dropdown">
                        <select class="form-control">
                          <option>10</option>
                          <option>25</option>
                          <option>50</option>
                          <option>100</option>
                        </select>
                      </div>
                        entries</h4>
                </div>
                <div class="col-6">
                    <h4 style="float: right;">Search:
                        <div class="search-container">
                            <form action="/action_page.php">
                              <input type="text" placeholder=" " name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                          </div>
                    </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                          <tr>
                            <th scope="col"><b style="font-size: 12px;color: black;">SN:</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Company</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Total Bill</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Paid</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Due</b></th>
                            <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                          </tr>
                        </thead>
                            No data available in table
                        <thead class="thead-light" style="background-color: rgb(148, 174, 199);">
                            <tr>
                              <th scope="col"><b style="font-size: 12px;color: black;">SN:</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Company</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Total Bill</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Paid</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Due</b></th>
                              <th scope="col"><b style="font-size: 12px;color: black;">Action</b></th>
                            </tr>
                          </thead>

                      </table>
                    </div>
                  </div>
                </div>
              </div>

      </div>

  </div>
  <div class="container-fluid mt--7">
    <!-- <app-layout-footer></app-layout-footer> -->
  </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="font-weight: bold;font-size: 30px;">Add Bill of a Company</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form action="/action_page.php">
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Bill ID:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="name1" placeholder="Enter Bill No" name="name"><br>
            <label for="name1" class="mb-2 mr-sm-2" style="font-weight: bold;">Company:</label>
            <div class="col-sm-14">
                <select class="form-control" placeholder="Company type">
                  <option>Select</option>
                  <option>Tectiq technology</option>
                  <option>TCS</option>
                  <option>Wipro</option>
                </select>
            </div><br>

            <input type="submit" value="Submit" class="btn btn-success">
            <input type="reset" class="btn" style="background-color: rgb(207, 68, 68);">
          </form>
        </div>
        
      </div>
    </div>
  </div>